@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*wildcard */
* {
  box-sizing: border-box; /* garder mesure de box*/
  font-family: 'Raleway', sans-serif;
}

body {
margin: 0;
}


                               /* NAVBAR */

/*nav*/
nav {
  display: flex;
  align-items: center; /* pour centrer hauteur  */
  justify-content: flex-end; /* mettre tout a droite */
  flex-wrap: wrap; /* resonsive des lignes  */
}

/* id : Logo */
nav .logo {
  display: flex;
  padding: 0 2%; /* padding gauche droite */
  margin-right: auto; /* prendre toute la marge a droite automatiquement */
}

/*div block des link nav*/
nav .nav-block {
  display: flex; /* parent des medias */
}

/* Class dans nav pour A*/
nav .nav-link {
  font-weight: bold;
  color: inherit; /* couleur du css hérité*/
  text-decoration: none; /* sans décoration autre que celle du style*/
  padding: 40px; /* padding global pour garder la box */
  border-top: 4px solid transparent; /* pour empêcher déplacement texte hover*/ 
}

nav .nav-link:hover {
  border-top: 4px solid #0065FC; /* ligne colour hover */
  color: #0065FC; /* couleur en hover text */
}

main {
  padding: 0 2%;
}


                                   /* RECHERCHE */

main .search {
  position: relative;
  display: flex;
}

main .search > i {
  font-weight: bold; 
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 10px 0px 0px 10px;
  background-color: #F2F2F2;
}

main input ::placeholder {
  color: black;
}
main .search-block {
  border: 2px solid #F2F2F2;
  height: 52px;
  width: 200px;
  font-weight: bold;
}

main .search-block:focus{
  color: #0065FC;
}

main .search-button {
  font-weight: bold; 
  color: #ffffff;
  font-size: 15px;
  padding: 12px 20px;
  border-radius: 0 10px 10px 0px;
  border: 1px solid transparent;
  background: #0065FC;
  cursor: pointer;
  opacity: 0.8;
}

main .search-button:hover {
  opacity: 1;
  transform: scale(1.03);
}



                                    /* FILTER */
main .filter {
  display: flex;
  margin-top: 2%;
}
main .filter-title {
  font-weight: bold;
}
main .filter-list {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}
main .filter-display {
  border: 3px solid #d9d9d9;
  margin-left: 10px;
  display: flex;
  border-radius: 50px;
  align-items: center;
}
main .filter .fa-solid {
  color: #0065FC;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
  padding: 20px;
  border-radius: 50%;
  margin: -3px;
  width: 48px;
}
main .filter .filter-display:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: #F2F2F2;
}
main .filter .filter-name {
  font-weight: bold;
  padding: 0 10px;
}




                                    /* INFO */

main .info {
  display: flex;
  align-items: center;
}
main .info .fa-solid {
  color: #0065FC;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #F2F2F2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main .info p {
  margin-left: 1%;
}



/* TODO CONTAINER HEBERGEMENT / POPULAR */

main .result {
  display: flex;
  gap: 20px;
}

              /* HEBERGEMENT */
main .result .hebergement {
  border-radius: 10px;
  background-color: #F2F2F2;
  flex-basis: 75%;
  padding: 5px;
}

main .result .hebergement a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.hebergement .hebergement-list {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hebergement .hebergement-list div {
  flex-basis: 30%;
  margin-bottom: 10px;
}
.hebergement-display {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px;
}

.hebergement-display:hover {
  transform: scale(1.03);
}

.hebergement-display img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.hebergement-display p {
  margin: 3px;
}

.blue-star {
  color: #0065FC;
}
.grey-star {
  color: #F2F2F2;
}






              /* POPULARITY */
.result .popularity {
  border-radius: 10px;
  background-color: #F2F2F2;
  flex-basis: 30%;
  padding: 5px;
  align-items: flex-end;
  margin-bottom: 20px;
}

.result .popularity-list div {
  display: flex;
  flex-direction: column;
}

.popularity-display {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}

.popularity-display:hover {
  transform: scale(1.03);
}

.popularity-display img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 80px;
  object-fit: cover;
}

.popularity-display p {
  margin: 3px;
}













                            /* ACTIVITY */

main .activity {
  margin-top: 2%;
  display: flex;
  background-color: #F2F2F2;
  width: 100%;
  height: 300px;
}
main .activity h1 {

}


                      /* TEMPORAIRE */ 

main .activity-images-big {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-height: 300px;
  background-color: #fff;
}
main .activity-images-medium {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-height: 300px;
  background-color: #fff;
}







                              /* FOOTER */

footer {
  background-color: #F2F2F2;
  width: 100%;
  height: 150px;
}








                               /* MEDIA RESPONSIVE */
  /* ordinateurs */
@media only screen and (min-width: 992px) {
  nav .nav-block {
    border: 1px solid green;
  }
  nav .logo2 {
    display: none;
  }
  main .search-mini {
    display: none;
  }
}

  /* Tablette*/
@media only screen and (max-width: 992px) {
  nav .nav-block {
    border: 1px solid red;
  }
  nav .logo2 { /*cache logo 2*/
    display: none;
  }
  main .search-mini {
    display: none;
  }

}



  /* Smartphone */
@media only screen and (max-width: 768px) {
  nav .nav-block {
    border: 1px solid rgb(255, 0, 242);
}

  nav .logo { /*cache logo 1*/
    display: none;
}
  nav .logo2 {  /*affiche logo 2*/
    display: flex;
    width: auto;
    margin: auto;
}
  nav .nav-block {
    width: 100%;
    text-align:center;
}
  nav .nav-link {
    width: 50%;
    justify-content: center;
    border-bottom: 4px solid #F2F2F2;
}
  nav .nav-link:hover {
    border-top-color: transparent; /*cacher border du haut*/
    border-bottom-color:#0065FC ; /*changer couleur de la border grise en bleu*/
}
  main .reseach {
    display: none;
}

  main .search-mini {
    display: inline;
    border-radius: 100px 0px 0px 10px;
}

  main .search {
    justify-content: center;
    border: 1px solid red;
    width: 100%;
    overflow: auto;
}
main .result {
  flex-direction: column;
}
main .result .popularity {
  order: -1;
}


}


