@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*wildcard */
* {
  box-sizing: border-box; /* garder mesure de box*/
  font-family: 'Raleway', sans-serif;
}

body {
margin: 0;
}


                               /* NAVBAR */

/*nav*/
nav {
  display: flex;
  align-items: center; /* pour centrer hauteur  */
  justify-content: flex-end; /* mettre tout a droite */
  flex-wrap: wrap; /* resonsive des lignes  */
}

/* id : Logo */
nav .logo {
  display: flex;
  padding: 0 2%; /* padding gauche droite */
  margin-right: auto; /* prendre toute la marge a droite automatiquement */
}

/*div block des link nav*/
nav .nav-block {
  display: flex; /* parent des medias */
}

/* Class dans nav pour A*/
nav .nav-link {
  font-weight: bold;
  color: inherit; /* couleur du css hérité*/
  text-decoration: none; /* sans décoration autre que celle du style*/
  padding: 40px; /* padding global pour garder la box */
  border-top: 4px solid transparent; /* pour empêcher déplacement texte hover*/ 
}

nav .nav-link:hover {
  border-top: 4px solid #0065FC; /* ligne colour hover */
  color: #0065FC; /* couleur en hover text */
}

main {
  padding: 0 20px;
}


                                   /* RECHERCHE */

main .search {
  position: relative;
  display: flex;
}

main .search > i {
  font-weight: bold; 
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 10px 0px 0px 10px;
  background-color: #F2F2F2;
}

main input ::placeholder {
  color: black;
}
main .search-block {
  border: 2px solid #F2F2F2;
  height: 52px;
  width: 200px;
  font-weight: bold;
}

main .search-block:focus{
  color: #0065FC;
}

main .search-button {
  font-weight: bold; 
  color: #ffffff;
  font-size: 15px;
  padding: 12px 20px;
  border-radius: 0 10px 10px 0px;
  border: 1px solid transparent;
  background: #0065FC;
  cursor: pointer;
  opacity: 0.8;
}

main .search-button:hover {
  opacity: 1;
  transform: scale(1.03);
}



                                    /* FILTER */

/* Box Global Filter */
main .filter {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
}
/* Box Titre Filter */
main .filter-title {
  font-weight: bold;
}
/* Box Liste filtre */
main .filter-list {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}

main .filter-display {
  border: 2px solid #d9d9d9;
  margin-left: 10px;
  display: flex;
  border-radius: 50px;
  align-items: center;
}
main .filter .fa-solid {
  color: #0065FC;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
  padding: 20px;
  border-radius: 50%;
  margin: -3px;
  width: 48px;
}
main .filter .filter-display:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: #F2F2F2;
}
main .filter .filter-name {
  font-weight: bold;
  padding: 0 10px;
}




                                    /* INFO */

main .info {
  display: flex;
  align-items: center;
}
main .info .fa-solid {
  color: #0065FC;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #F2F2F2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main .info p {
  margin-left: 1%;
}


/* couleur etoiles FA */
.blue-star {
  color: #0065FC;
}
.grey-star {
  color: #F2F2F2;
}











                   /* CONTAINER HEBERGEMENT / POPULAR */

main .result {
  display: flex;
  gap: 20px;
}

                   /* CONTAINER HEBERGEMENT */


/* Gestion BOX global Hebergement */
main .hebergement {
  border-radius: 20px;
  background-color: #F2F2F2;
  flex-basis: 70%;
  padding: 10px;
}
/* Gestion BOX LISTE hebergement */
main .hebergement-list {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Box du titre */
main .hebergement-box-title {
  display: block;
}

/* Content box Titre Hebergement*/
main .hebergement-title {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

/* Gestion de la carte */
main .hebergement-card {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 15px #2929292e;
  transition-duration: 0.1s;
  cursor: pointer;
  flex-basis: 30%;
}

/* Gestion Hover de la carte */
main .hebergement-card:hover {
  transform: scale(1.03);
}

/* Gestion des A dans la carte */
main .hebergement-card a {
  color: inherit;
  text-decoration: none;
}

/* Gestion des IMG dans la carte */
.hebergement-card-content-img {
  display: block;
  height: 120px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center;
}

/* Gestion description dans la carte */
.hebergement-card-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 100%;
}

/* Gestion Titre h3 pour description box*/
.hebergement-card-description h3 {
  margin: 3px 10px 0px 10px;
}

/* Gestion description box */
.hebergement-card-description p {
  margin: 3px 10px 5px 10px;
}

/* Gestion note box */
.hebergement-card-note {
  margin: 3px 10px 5px 10px;
}

/* gestion du P bas gauche de la box */
.hebergement-plus {
  display: block;
  margin: 20px 0px 0px 10px;
  justify-content: flex-start;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}













                    /* CONTAINER POPULARITY */


/* Gestion BOX global Populaire */
main .popularity {
  border-radius: 20px;
  background-color: #F2F2F2;
  flex-basis: 30%;
  padding: 10px;
  align-items: flex-end;
  margin-bottom: 20px;
}

/* Box du titre */
main .popularity-box-title {
/*  */
}

/* Content box Titre popularity*/
main .popularity-title {
  display: flex;
  justify-content: space-between;
}

/* Gestion BOX LISTE popularity */
main .popularity-list {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Gestion de la carte */
main .popularity-card {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 15px #2929292e;
  cursor: pointer;
  transition-duration: 0.1s;
  flex-basis: 100%;
}

/* Gestion Hover de la carte */
main .popularity-card:hover {
  transform: scale(1.03);
}

/* Gestion des A dans la carte */
main .popularity-card a {
  color: inherit;
  text-decoration: none;
}
/* Content = tout intérieur de la box */
main .popularity-card-content {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}

/* Gestion div dans la box pour image*/
main .popularity-card-img {
  border-radius: 20px 0 0 20px;
  position: relative;
  width: 40%;
  min-width: 40%;
  max-width: 40%;
}

/* Gestion de l'image dans la div */
main .popularity-card-content img {
  border-radius: 20px 0 0 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Gestion de la box dans la box */
main .popularity-card-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 100%;
}

main .popularity-card-description h3 {
  margin: 0px 10px 0px 10px;
}
main .popularity-card-description p {
  margin: 3px 10px 50px 10px;
}

main .popularity-card-note {
  margin-left: 10px;
}







                    /* Activity */


/* Gestion BOX global Activity */
main .activity {
  border-radius: 20px;
  flex-basis: 70%;
  padding: 10px;
}

/* Gestion BOX LISTE Activity */
main .activity-list {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}


/* Gestion de la carte */
main .activity-card {
  /* display: block; */
  border-radius: 20px;
  box-shadow: 0 0 15px #2929292e;
  cursor: pointer;
  transition-duration: 0.1s;
  border: 1px solid blue;
}


/* Gestion Hover de la carte */
main .activity-card:hover {
  transform: scale(1.03);
}

/* Gestion des A dans la carte */
main .activity-card a {
  color: inherit;
  text-decoration: none;
}
/* Content = tout intérieur de la box */
main .activity-card-content {
  height: 100%;
  border: 1px solid red;
}

/* Gestion div dans la box pour image*/
main .activity-card-img {
  height: 150px;
  width: 250px;
}
main .activity-card-img-big {
  height: 350px;
  width: 250px;
}

/* Gestion de l'image dans la div */
main .activity-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}
main .activity-card-img-big img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}
/* Gestion de la h4 dans la box */
main .activity-card-description h4 {
  margin: 10px;
}

























































                              /* FOOTER */

footer {
  background-color: #F2F2F2;
  width: 100%;
  height: 200px;
}








                               /* MEDIA RESPONSIVE */
  /* ordinateurs */
@media only screen and (min-width: 992px) {
  nav .nav-block {
    border: 1px solid green;
  }
  nav .logo2 {
    display: none;
  }
  main .search-mini {
    display: none;
  }
}

  /* Tablette*/
@media only screen and (max-width: 992px) {
  nav .nav-block {
    /* border: 1px solid red; */
  }
  nav .logo2 { /*cache logo 2*/
    display: none;
  }
  main .search-mini {
    display: none;
  }

}



  /* Smartphone */
@media only screen and (max-width: 768px) {

/* LOGO */
nav .logo { /*cache logo 1*/
    display: none;
}

nav .logo2 {  /*affiche logo 2*/
    display: flex;
    width: auto;
    margin: auto;
}

/* NAVBAR */
nav .nav-block {
    width: 100%;
    text-align:center;
}

nav .nav-link {
    width: 50%;
    justify-content: center;
    border-bottom: 4px solid #F2F2F2;
}

nav .nav-link:hover {
    border-top-color: transparent; /*cacher border du haut*/
    border-bottom-color:#0065FC ; /*changer couleur de la border grise en bleu*/
}


/* RESEARCH */
main .research {
    display: none;
}

main .search-mini {
    display: inline;
    border-radius: 100px 0px 0px 10px;
}

main .search {
    justify-content: center;
    /* border: 1px solid red; */
    width: 100%;
    /* overflow: auto; */
}


/* Main */
main .result {
  flex-direction: column;
}
main .hebergement {
  background-color: white;
  flex-direction: column;
}
/* "Hebergement" mise en column */
main .hebergement .hebergement-list {
  flex-direction: column;
}
/* Changement ordre de priorité */
main .result .popularity {
  order: -1;
}


}


